[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"connexion[swagger-ui]" = "*"
connexion = "*"
gevent = "*"
greenlet = {version = "*", platform_python_implementation="=='CPython'"}
redis = "*"

[dev-packages]
black = "*"
"flake8" = "*"
pytest = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
